[mysqld]
# InnoDB Cache
innodb_buffer_pool_size = 8G
innodb_buffer_pool_instances = 8
innodb_page_cleaners = 8
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_io_capacity = 2000
innodb_thread_concurrency = 4
innodb_write_io_threads = 4
innodb_read_io_threads = 4

# Temporary Tables Cache
tmp_table_size = 256M
max_heap_table_size = 256M

# Table Cache
table_open_cache = 4000
table_definition_cache = 2000

# Binary Log Cache
binlog_cache_size = 4M
binlog_stmt_cache_size = 4M
sync_binlog = 0

# General Performance
max_connections = 500
max_allowed_packet = 128M

# Compatibility
sql_mode=""
innodb_strict_mode=0

# Logging
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 1
log_error = /var/log/mysql/error.log
performance_schema = ON
